{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": ["transform-react-jsx", "syntax-dynamic-import", "react-loadable/babel"]
}
